.Rproj.user
.Rhistory
.RData
*.Rproj
.Rproj
Admin/*
OldStuff/*
*.Rdata
Rplots.pdf
*.docx
Delma.pdf
numocc.csv
Traceplots/*
Docs/*
SiteShapefile/*
DataFromTed/*
ABCreporting/*
Submission1
Submission2
Submission3
*.pdf
DataFromGarry/Burn*
SpatialData/RemoteSenseMatt/*


